<button class="btn btn--wide btn--filled" id="load-comments">{{t "Load comments"}}</button>
{{!-- Disqus Comments --}}
<div class="comments__panel" id="disqus_thread">
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</div>
<script>
  const loadCommentsBtn = document.querySelector('#load-comments');

  // =======================================
  // Load comments when it's in the viewport
  // =======================================
  loadCommentsBtn.onclick = (evt) => {
    loadDisqusComments();
    evt.srcElement.style.display = "none";
  }

  // =============
  // Load Comments
  // =============
  const loadDisqusComments = () => {
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    var disqus_config = function () {
      this.page.url = '{{url absolute="true"}}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '{{comment_id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//' + config.disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  }
</script>